@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
}

html, body {
	font-family: Poppins, sans-serif;
	height: 100%;
}


#uihelp {
	position: absolute;
	top: 1.5%;
	left: 19px;
}

#wrapperhelp {
	height: auto;
	margin-bottom: 10px;
	min-width: 275px;
	margin: 0 0 5px 0;
	border-radius: 10px;
	background-color: none;
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	padding: 6px 6px 6px 6px;
	margin-bottom: 5px;
	
}

#messagehelp {
	font-size: 16px;
	font-weight: 600;
	padding: 10px;
}

.active {
	opacity: 1;
	animation: fadeInLeft;
	animation-duration: 0.6s;
}

.hiding {
	opacity: 0;
	animation: fadeOutLeft;
	animation-duration: 0.6s;
}

#messagehelp .w,
#messagehelp .s {
    color: #fff;
}

#messagehelp .u {
    color: #000000;
}

#messagehelp .r {
    color: #ef075d;
}

#messagehelp .g {
    color: #a3ff12;
}

#messagehelp .b {
    color: #0099cc;
}

#messagehelp .y {
    color: #ffcc00
}

#messagehelp .o {
    color: #F76A2E;
}

#messagehelp .p {
    color: #651FFF;
}

#messagehelp .h {
    font-weight: bold;
}

#messagehelp h1 {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
    background: rgb(255, 255, 255);
	color: black;
	border-radius: 0.2vh;
}