@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
 font-family: 'Poppins', sans-serif;
 -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background-color: rgb(117, 117, 167); */
}



#keys-info{
    width: 600px;
    min-height: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 67%;
    left: 5%;
	/* background-color: rgba(43, 42, 37, 0.5); */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
#keys-info span{
    color: white;
    display: block;
    font-weight: bold;
}

.text{
    font-size: 20px;
    margin-bottom: 15px;
}

.images{
    width: 52px;
    font-size: 20px;
    /* background-color: rgba(245, 150, 232, 0.411); */
    border-radius: 8px;
}


@keyframes animateGradientLine {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

  /* HINTS */
  #hint-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5vh;
    padding: 1.5vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 7.87%, rgba(0, 0, 0, 0.1) 100%);
    border-radius: 0.4vh;
    border: 0.1vh solid rgba(255, 255, 255, 0.11);
    color: #ffffff;
    max-width: 40vh;
    text-align: center;
    display: none;
}
#hint-title {
    font-size: 1.6vh;
    font-weight: 600;
    margin-bottom: 1vh;
}
#hint-content {
    font-size: 1.2vh;
}
