@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@400;700&family=Signika:wght@500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

:root {
    --white: rgb(255, 255, 255);
    --black: rgba(0, 0, 0, 0.171);
    --black2: rgba(0, 0, 0, 0.4);
    --very-main: #f88000;
}

body {
    overflow: hidden;
    margin: 0;
}

.box {
    text-align: center;
    margin-top: 800px;
}

.bw-napis {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    opacity: 0.5;
    color: var(--white);
}

.czas-box {
    font-size: 72px;
    font-weight: 800;
    margin-top: -90px;
    opacity: 0.7;
    color: var(--white);
}

.info {
    font-weight: 700;
    font-size: 15px;
    margin-top: -90px;
    opacity: 0.5;
    color: var(--white);
}