@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primaryColor: #ff1100;
  }
  

body {
    display: none;
}

.radioContainer {
    min-width: 18vh;
    position: absolute;
    left: 1.7%;
    bottom: 35%;
}

.radioInfo {
	background-color: rgba(39, 39, 39, 0.6);
    border-radius: 5px;
    padding: .5vh .5vw;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.radioInfo > .left {
    display: flex;
}

.radioInfo > .left > div {
    margin-left: .3vw;
    font-weight: 600;
    font-size: .7vw;
}

.radioInfo > .right {
    display: flex;
}

.radioInfo > .right > div {
    margin-left: .3vw;
    font-weight: 600;
    font-size: .7vw;
}

.radioUsers > .user {
    color: #fff;
    font-weight: 600;
}

.radioUsers > .user.active {
    color: var(--primaryColor);
}