body{
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
 
.toggle {
    transform: scale(0);
    /* background-color: rgb(32, 32, 32, 0.6); */
    text-align: center;
    height: 30px;
    width: 30px;
    position: absolute;
    margin: auto;
    top: 44%;
    left: 55%;

    transition: 0.7s;
} 

.fa-plus{
  font-size: 60px;
  color: white;
  display: block;
  margin-top: 37%;
  transition: 0.7s;
}

.menu {
    background-color: rgb(32, 32, 32, 0.6);
    /* border: 10px solid #BBBBBB; */
    height: 50px;
    width: 100px;
    transform: scale(0);
    border-radius: 5%;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    transition: 0.7s;
}


#dzwiekoff {
    transform: scale(0);
    top: 53%;
    left: 56%;
    filter: invert(23%) sepia(74%) saturate(1711%) hue-rotate(344deg) brightness(98%) contrast(77%);
    transition: 0.3s;
}

a {
    display: inline-block;
    position: absolute;
    font-size: 35px;
    color: #BBBBBB;
}

#mlotek {
    transform: scale(0);
    top: 46%;
    left: 45%;
    filter: invert(91%) sepia(100%) saturate(0%) hue-rotate(22deg) brightness(109%) contrast(109%);
    transition: 0.3s;
}

#odkurzacz {
    transform: scale(0);
    top: 46%;
    left: 48%;
    filter: invert(91%) sepia(100%) saturate(0%) hue-rotate(22deg) brightness(109%) contrast(109%);
    transition: 0.3s;
}

/* #scierka {
    transform: scale(0);
    top: 47%;
    left: 42%;
    filter: invert(91%) sepia(100%) saturate(0%) hue-rotate(22deg) brightness(109%) contrast(109%);
    transition: 0.3s;
} */

#wiertarka {
    transform: scale(0);
    top: 53%;
    left: 48%;
    filter: invert(91%) sepia(100%) saturate(0%) hue-rotate(22deg) brightness(109%) contrast(109%);
    transition: 0.3s;
}

#wiertarka2 {
    transform: scale(0);
    top: 53%;
    left: 45%;
    filter: invert(91%) sepia(100%) saturate(0%) hue-rotate(22deg) brightness(109%) contrast(109%);
    transition: 0.3s;
}

#klucz {
    transform: scale(0);
    top: 53%;
    left: 51%;
    filter: invert(91%) sepia(100%) saturate(0%) hue-rotate(22deg) brightness(109%) contrast(109%);
    transition: 0.3s;
}



#szlifierka {
    transform: scale(0);
    top: 46%;
    left: 51%;
    filter: invert(91%) sepia(100%) saturate(0%) hue-rotate(22deg) brightness(109%) contrast(109%);
    transition: 0.3s;
}

a:hover {
    opacity: 0.8;
    scale: 1.2;
}

.toggle:hover {
    opacity: 0.8;
    scale: 1.2;
}