@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
}

.contianer {
    position: absolute;
    left: 50%;
    top: -5vh;
    transform: translateX(-50%);
    background-color: rgba(12, 12, 12, 0.75);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: 4vh;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contianer > .text {
    color: #fff;
    font-size: 0.70vw;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}